[submodule "epics/epics-base"]
	path = epics/epics-base
	url = https://github.com/epics-base/epics-base.git
[submodule "epics/gui-tools/qwt"]
	path = epics/gui-tools/qwt
	url = https://github.com/opencor/qwt.git
[submodule "epics/gui-tools/acai"]
	path = epics/gui-tools/acai
	url = https://github.com/andrewstarritt/acai.git
