O.*
*.swp
bin/
lib/
StreamDevice-2-8-24/configure/RELEASE
alive-R1-1-1/configure/RELEASE
alive-R1-1-1/db/
alive-R1-1-1/dbd/
alive-R1-1-1/include/
alive-R1-1-1/iocBoot/iocaliveEx/envPaths
areaDetector/ADSpinnaker/spinnakerSupport/include/SpinGenApi/NodeMapRef.h
areaDetector/ADSpinnaker/spinnakerSupport/os/
asyn-R4-44-2/configure/RELEASE
autosave-R5-10/configure/RELEASE
autosave-R5-10/db/
autosave-R5-10/dbd/
autosave-R5-10/include/
busy-R1-7-2/configure/RELEASE
busy-R1-7-2/db/
busy-R1-7-2/dbd/
busy-R1-7-2/include/
busy-R1-7-2/iocBoot/iocTestBusyAsyn/cdCommands
busy-R1-7-2/iocBoot/iocTestBusyAsyn/dllPath.bat
busy-R1-7-2/iocBoot/iocTestBusyAsyn/envPaths
calc-R3-7-3/configure/RELEASE
calc-R3-7-3/db/
calc-R3-7-3/dbd/
calc-R3-7-3/include/
cfg/
delaygen-R1-2-4/configure/RELEASE
iocStats-3-1-16/configure/RELEASE
iocStats-3-1-16/db/
iocStats-3-1-16/dbd/
iocStats-3-1-16/edl/
iocStats-3-1-16/include/
iocStats-3-1-16/iocBoot/ioctestStatsSoft/envPaths
ipac-2-15/configure/RELEASE
ipac-2-15/dbd/
ipac-2-15/html/
ipac-2-15/include/
k8s-log-01312024-1226.txt
motor-R7-3-1/configure/RELEASE
seq-2-2-6/configure/RELEASE
seq-2-2-6/db/
seq-2-2-6/dbd/
seq-2-2-6/html/
seq-2-2-6/include/
sscan-R2-11-6/configure/RELEASE
